build/
dist/
pnpm-lock.yaml
node_modules/
LICENSE.md
tsconfig.json
tsconfig.*.json
.gitignore
.prettierignore
.prettierrc.json
Project/vs/
Project/Apk/
Project/Fonts/
Project/Images/
Project/Locales/
Project/Templates/
Project/index.html
prettierrc.json
Runtime/
LICENSE
icon.ico
icon.icns
README.md
package-lock.json
